@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
    var roleName = User.Claims.FirstOrDefault(_ => _.Type == "RoleName").Value ?? "";
}


<html>
<head>
    <title>Not Found</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex vh-100 align-items-center">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="form-input-content text-center error-page">
                        <h1 class="error-text font-weight-bold">404</h1>
                        <h4><i class="fa fa-exclamation-triangle text-warning"></i> The page you were looking for is not found!</h4>
                        <p>You may have mistyped the address or the page may have moved.</p>
                        <div>
                            @if (roleName == "Admin" || roleName == "Super Admin")
                            {
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="Home" asp-action="Index">Back to Home</a>
                            }
                            else
                            {
                                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

