@model StarLine.Core.Models.ResetPasswordModel

@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password Reset</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    @await Component.InvokeAsync("NToastNotify")
    <div class="d-flex vh-100 align-items-center">
        <div class="col-md-3 mx-auto">
            <form asp-action="ResetPassword">
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Code" class="form-control" />
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="~/Logo.webp" class="img-fluid" />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <div class="form-group">
                                    <input asp-for="EmailAddress" class="form-control" />
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <label asp-for="Password" class="control-label"></label>
                                <div class="form-group">
                                    <input type="password" asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <div class="form-group">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" style="width:100%">Reset Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
