<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StarLine.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StarLine.Web.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid starlite-theme">
        <aside id="main-sidebar" class="sidebar">
            <nav>
                <div class="brand-image border-bottom m-2">
                    <a class="text-center" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Logo.webp" class="img-fluid" />
                    </a>
                </div>
                <div id="main-menu">
                    <ul class="ps-0">
                        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>                       
                        <li><a asp-area="Admin" asp-controller="Employee" asp-action="Index">Employee</a></li>
                        <li><a asp-area="Admin" asp-controller="Role" asp-action="Index">User Roles</a></li>
                        <li><a asp-area="Admin" asp-controller="Team" asp-action="Index">Teams</a></li>
                        <li><a asp-area="Admin" asp-controller="Department" asp-action="Index">Department</a></li>
                        <li><a asp-area="Admin" asp-controller="Designation" asp-action="Index">Designation</a></li>
                        <li><a asp-area="Admin" asp-controller="Holiday" asp-action="Index">Holidays</a></li>
                        <li><a asp-area="Admin" asp-controller="LeaveType" asp-action="Index">Leave Types</a></li>
                        
                    </ul>
                </div>
            </nav>
        </aside>
        <div class="container-fluid page-content">
            <div class="header d-flex justify-content-between">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".sidebar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <partial name="_LoginPartial" />
            </div>
            <main role="main" class=" main-content p-3">
                <script src="~/lib/jquery/jquery.min.js"></script>
                @RenderBody()
            </main>
        </div>
    </div>
    @await Component.InvokeAsync("NToastNotify")
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <img src="~/Logo.webp" class="img-fluid" width="70% !important;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Department" asp-action="Index">Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Designation" asp-action="Index">Designation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - StarLine.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    
    @* Off canvas *@
    <div class="offcanvas offcanvas-end" tabindex="-1" id="starliteoffcanvas" aria-labelledby="starliteoffcanvasLabel" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
        </div>
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables.net/datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
